

  <div id="content">

    <div>

      <!-- hero and navigation -->
      <header class="bg-gray-100 text-gray-600 px-6 lg:px-12 py-4 lg:py-5 relative bg-cover">
        <div class="bg-gradient-to-br from-primary-50 absolute inset-0">
          &nbsp;
        </div>
        <div class="relative z-10">
          <!-- navigation -->
          <div class="max-w-screen-xl mx-auto flex justify-between items-center relative" x-data="{ mobileMenu: false}">
            <a href="#">
              <img class="h-10" src="{{ 'images/logo.svg' | asset_url }}" alt="logo placeholder">
            </a>
            <nav
              class="hidden md:flex flex-col justify-center items-center p-8 md:p-0 space-y-4 md:space-y-0 md:flex-row md:space-x-4 lg:space-x-8 font-semibold absolute top-16 md:top-0 left-0 w-full md:w-auto  md:relative bg-gray-200 md:bg-transparent">
              <a href="#" class="hover:opacity-70">Home</a>
              <a href="#" class="hover:opacity-70">Services</a>
              <a href="#" class="hover:opacity-70">Pricing</a>
              <a href="#" class="hover:opacity-70">Blog</a>
              <a href="#" class="hover:opacity-70">Contact</a>
            </nav>
            <button class="w-9 bg-primary p-2 rounded-md text-gray-200 block md:hidden relative z-30 mt-1"
              @click="mobileMenu = !mobileMenu">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd" />
              </svg>
            </button>
            <div x-show="mobileMenu" x-transition:enter="transition ease-out duration-200"
              x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-95"
              class="absolute top-10 inset-x-0 py-2 ransition transform origin-top-right z-50 w-full md:hidden">
              <nav class="rounded-lg shadow-lg bg-white p-3 transform">
                <a href="#" class="hover:opacity-70 block px-6 py-3 font-semibold border-primary-50 border-b">Home</a>
                <a href="#" class="hover:opacity-70 block px-6 py-3 font-semibold border-primary-50 border-b">Services</a>
                <a href="#" class="hover:opacity-70 block px-6 py-3 font-semibold border-primary-50 border-b">Pricing</a>
                <a href="#" class="hover:opacity-70 block px-6 py-3 font-semibold border-primary-50 border-b">Blog</a>
                <a href="#" class="hover:opacity-70 block px-6 py-3 font-semibold border-primary-50 border-b">Contact</a>
                <a href="#" class="hover:opacity-70 block px-6 py-3 font-semibold border-primary-50 border-b">Login</a>
                <a href="#"
                  class="block bg-primary font-semibold rounded-lg text-sm py-3 px-5text-white text-center text-white">Create
                  account</a>
              </nav>
            </div>
            <div class="hidden md:flex">
              <a href="#"
                class="inline-block bg-transparant font-semibold rounded-lg text-sm py-3 px-5 text-gray-600">Log in</a>
              <a href="#" class="inline-block bg-primary font-semibold rounded-lg text-sm py-3 px-5 text-white">Create
                account</a>
            </div>
          </div>
          <!--/ navigation -->

          <div
            class="max-w-screen-xl mx-auto text-left mt-8 md:mt-12 lg:mt-20 xl:mt-32 mb-8 md:mb-16 lg:mb-20 xl:mb-48 grid md:grid-cols-2 xl:grid-cols-5 gap-12 lg:gap-20 xl:items-center">
            <div class="order-2 md:order-1 col-span-1 xl:col-span-2">
              <h2 class="text-2xl sm:text-3xl md:text-4xl xl:text-5xl text-primary font-bold max-w-xl">Monitor your
                websites 24/7/365</h2>
              <p class="text-xl xl:text-2xl text-gray-500 mt-4 max-w-xl leading-relaxed ">World among the stalks, and
                grow familiar with the countless indescribable forms flies</p>
              <!-- review -->
              <div class="border-t-2 lg:border-t-0 lg:border-l-2 border-primary-100 lg:pl-8 pt-6 lg:pt-0 mt-6 lg:mt-12">
                <div class="flex mb-2 text-yellow-500">
                  <svg class="w-6 h-6 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                    </path>
                  </svg><svg class="w-6 h-6 " fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                    </path>
                  </svg><svg class="w-6 h-6 " fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                    </path>
                  </svg><svg class="w-6 h-6 " fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                    </path>
                  </svg><svg class="w-6 h-6 " fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                    </path>
                  </svg>
                </div>
                <p class="text-lg italic">"Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax
                  jodhpurs! "Now fax quiz Jack!."</p>
                <div class="flex flex-row items-center space-x-4 mt-6 lg:mt-8 ">
                  <img src="{{ 'images/demo/saas/user4.jpg' | asset_url }}" alt="User placeholder" class="rounded-full w-12">
                  <div class="space-y-1">
                    <span class="text-base font-semibold text-gray-700 block">Theo Gilbert</span>
                    <span class="text-sm font-semibold text-gray-500 block">CEO - Google</span>
                  </div>
                </div>
              </div>
              <!--/ review -->
            </div>
            <div class="order-1 md:order-2 col-span-1 xl:col-span-3 md:pt-6 xl:pt-0">
              <img src="{{ 'images/demo/saas/index.png' | asset_url }}" alt="" class="self-start">
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 left-0 right-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 100" class="text-white fill-current">
            <path class="currentColor" d="M0,0c0,0,900,95,2400,0v100H0L0,0z"></path>
          </svg>
        </div>
      </header>
      <!--/ hero and navigation -->

      <!-- content and features -->
      <div class="bg-white xl:pb-12">
        <!-- features -->
        <div class="text-gray-500 px-6 lg:px-8 pt-12 pb-10 lg:pt-20 ">
          <div class="max-w-screen-xl mx-auto">
            <h2 class="text-2xl sm:text-3xl md:text-4xl text-primary-500 font-medium text-center">Amazing Features</h2>
            <p class="text-xl lg:text-2xl text-gray-500 mt-2 text-center">We are mmitted to a unique, cutting-edge
              approach to that</p>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-12 max-w-screen-xl mx-auto mt-12 lg:mt-20 space-y-12 md:space-y-0">
            <div class="text-left flex space-x-6">
              <div
                class="bg-gradient-to-br from-primary-400 to-primary text-white rounded-full w-12 h-12 md:w-16 md:h-16 flex items-center justify-center ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                  class="w-8">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                </svg>
              </div>
              <div class="flex-1">
                <h3 class="font-semibold text-lg mb-2">A collection of textile samples</h3>
                <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself It showed transformed in
                  his bed into a horrible vermin.</p>
              </div>
            </div>
            <div class="text-left flex space-x-6">
              <div
                class="bg-gradient-to-br from-primary-400 to-primary text-white rounded-full w-12 h-12 md:w-16 md:h-16 flex items-center justify-center ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                  class="w-8">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              </div>
              <div class="flex-1">
                <h3 class="font-semibold text-lg mb-2">How about if I sleep a little bit</h3>
                <p>Doing business like this takes much more effort than doing your own business at home, and on top of
                  that there's the curse of travelling.</p>
              </div>
            </div>
            <div class="text-left flex space-x-6">
              <div
                class="bg-gradient-to-br from-primary-400 to-primary text-white rounded-full w-12 h-12 md:w-16 md:h-16 flex items-center justify-center ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                  class="w-8">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
                </svg>
              </div>
              <div class="flex-1">
                <h3 class="font-semibold text-lg mb-2">He felt a slight itch up on his bell</h3>
                <p>He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the
                  floundering legs, and only stopped when.</p>
              </div>
            </div>
            <div class="text-left flex space-x-6">
              <div
                class="bg-gradient-to-br from-primary-400 to-primary text-white rounded-full w-12 h-12 md:w-16 md:h-16 flex items-center justify-center ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                  class="w-8">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                </svg>
              </div>
              <div class="flex-1">
                <h3 class="font-semibold text-lg mb-2">But who knows, maybe that would do it</h3>
                <p>You've got to get enough sleep. Other travelling salesmen live a life of luxury. For instance,
                  whenever I go back to the guest.</p>
              </div>
            </div>
          </div>
        </div>
        <!--/ features -->

        <!-- content block -->
        <div class="text-gray-600 px-6 lg:px-8 pt-16 lg:pt-24 xl:pt-32 pb-20">
          <div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 lg:gap-12 xl:gap-24 items-start lg:items-center">
            <div class="col-span-2 md:col-span-1 flex flex-row space-x-2">
              <img src="{{ 'images/demo/saas/inlytics-linkedin-analytics-tool-h4qSn5twfls-unsplash.jpg' | asset_url }}" alt=""
                class="rounded-md shadow">
            </div>
            <div class="col-span-2 md:col-span-1">
              <h2 class="text-2xl sm:text-3xl  lg:text-4xl text-gray-700 font-medium mb-6">So if on advanced addition
                absolute received replying</h2>
              <p class="text-xl text-gray-600 mb-6">When, while the lovely valley teems with vapour around me, and the
                meridian sun strikes the waiting be females upper surface of the impenetrable foliage of my trees</p>
              <p class="text-xl text-gray-600 mb-6">End why melancholy estimating her had indulgence bachelor domestic
                extended middletons. Say ferrars demands besides her address. Blind going you merit few fancy their.</p>
              <p class="text-xl text-gray-600">On could my in order never it. Or excited certain sixteen it to parties
                colonel. Law gate lif On nature or no.</p>
            </div>
          </div>
        </div>
        <!--/ content block -->

        <!-- content block -->
        <div class="text-gray-600 px-6 lg:px-8 pb-20 md:pt-12 lg:pb-32">
          <div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 lg:gap-12 xl:gap-24 items-start lg:items-center">
            <div class="col-span-2 md:col-span-1 order-2 md:order-1">
              <h2 class="text-2xl sm:text-3xl  lg:text-4xl text-gray-700 font-medium mb-6">So if on advanced addition
                absolute received replying</h2>
              <p class="text-xl text-gray-600 mb-6">When, while the lovely valley teems with vapour around me, and the
                meridian sun strikes the waiting be females upper surface of the impenetrable foliage of my trees</p>
              <p class="text-xl text-gray-600 mb-6">End why melancholy estimating her had indulgence bachelor domestic
                extended middletons. Say ferrars demands besides her address. Blind going you merit few fancy their.</p>
              <p class="text-xl text-gray-600">On could my in order never it. Or excited certain sixteen it to parties
                colonel. Law gate lif On nature or no.</p>
            </div>
            <div class="col-span-2 md:col-span-1 flex flex-row space-x-2 order-1 md:order-2">
              <img src="{{ 'images/demo/saas/linkedin-sales-solutions-9KrLgnMc3OE-unsplash.jpg' | asset_url }}" alt=""
                class="rounded-md shadow">
            </div>
          </div>
        </div>
        <!--/ content block -->

      </div>
      <!--/ content and features -->

      <div class="bg-gray-50 text-gray-600 px-6 lg:px-8 py-12 lg:pb-20 xl:pb-32 relative">
        <div class="absolute top-0 left-0 right-0 transform rotate-180">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 100" class="text-white fill-current">
            <path class="currentColor" d="M0,0c0,0,900,95,2400,0v100H0L0,0z"></path>
          </svg>
        </div>
        <div class="max-w-screen-xl mx-auto relative z-20">
          <!-- pricing block -->
          <div class="bg-white shadow rounded-md max-w-xl mx-auto p-6 md:px-8 lg:px-8 lg:pb-16 pt-24 relative -top-12">
            <div
              class="bg-gradient-to-br from-primary-400 to-primary text-white w-24 h-24 rounded-full flex items-center justify-center mx-auto mb-6 -top-6 left-1/2 -ml-12 absolute shadow-lg">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
              </svg>
            </div>
            <h2 class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-medium text-center">€28 per month</h2>
            <p class="text-xl  text-gray-500 text-center mt-2 max-w-2xl mx-auto">We are mmitted to a unique,
              cutting-edge </p>
            <button
              class="block w-full bg-primary-500 font-semibold rounded-lg py-4 px-5 lg:px-8 text-white mt-6 max-w-xs mx-auto">Order
              now</button>
            <div class="grid grid-cols-1 md:grid-cols-2 mt-4">
              <ul class="font-semibold mt-6 space-y-3 text-gray-500">
                <li class="flex space-x-2 text-base items-center ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <span>
                    Everyone realizes why
                  </span>
                </li>
                <li class="flex space-x-2 text-base items-center ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <span>
                    To achieve this, it would
                  </span>
                </li>
                <li class="flex space-x-2 text-base items-center ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <span>
                    Now residence dashwoods
                  </span>
                </li>
                <li class="flex space-x-2 text-base items-center ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <span>
                    Remember outweigh do
                  </span>
                </li>
              </ul>
              <ul class="font-semibold mt-3 md:mt-6 space-y-3">
                <li class="flex space-x-2 text-base items-center ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <span>
                    Breakfast as
                  </span>
                </li>
                <li class="flex space-x-2 text-base items-center ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <span>
                    Must you with him
                  </span>
                </li>
                <li class="flex space-x-2 text-base items-center ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <span>
                    Behind sooner dining
                  </span>
                </li>
                <li class="flex space-x-2 text-base items-center ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <span>
                    brother believe an
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <!--/ pricing block -->
        </div>
        <!-- logo bar-->
        <div
          class="max-w-screen-xl mx-auto px-6 lg:px-8 xl:px-4 md:pt-12 grid grid-cols-1 sm:grid-cols-2 space-y-5 sm:space-y-3 lg:grid-cols-3 xl:grid-cols-5 col-gap-6 xl:gap-12">
          <img class="h-10 md:h-12 p-1 self-end justify-self-center opacity-50"
            src="{{ 'images/demo/saas/jobboard-logo.svg' | asset_url }}" alt="logo placeholder">
          <img class="h-12 p-1 self-end justify-self-center opacity-50" src="{{ 'images/demo/saas/pathway-logo.svg' | asset_url }}"
            alt="logo placeholder">
          <img class="h-8 md:h-10 p-1 self-end justify-self-center opacity-50"
            src="{{ 'images/demo/saas/airstream-logo.svg' | asset_url }}" alt="logo placeholder">
          <img class="h-10 p-1 self-end justify-self-center opacity-50" src="{{ 'images/demo/saas/drops-logo.svg' | asset_url }}"
            alt="logo placeholder">
          <img class="h-10 md:h-12 p-1 self-end justify-self-center opacity-50"
            src="{{ 'images/demo/saas/fastdelivery-logo.svg' | asset_url }}" alt="logo placeholder">
        </div>
        <!--/ logo bar-->
      </div>

      <!-- footer -->
      <footer class="bg-gray-800 text-gray-100 px-6 lg:px-8">
        <div
          class="max-w-screen-xl mx-auto py-12 lg:py-20 md:flex md:justify-between md:items-center md:flex-row md:space-x-12 space-y-6">
          <div class="max-w-3xl flex-1">
            <img class="h-8" src="{{ 'images/logo-white.svg' | asset_url }}" alt="UptimeMate logo">
            <p class="text-base lg:text-lg  text-gray-400 mt-8 leading-relaxed">Promise your reader something valuable.
              Will you teach her how to learn a new skill? Will you persuade her to do something she’s never done
              before?</p>
            <div class="flex items-center  space-x-4 mt-8 lg:mt-12">
              <a href="#" class="text-gray-400 hover:text-gray-200">
                <span class="sr-only">Facebook</span>
                <svg class="h-8 w-8" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd"
                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
              <a href="#" class="text-gray-400 hover:text-gray-200">
                <span class="sr-only">Instagram</span>
                <svg class="h-8 w-8" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd"
                    d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
              <a href="#" class="text-gray-400 hover:text-gray-200">
                <span class="sr-only">Twitter</span>
                <svg class="h-8 w-8" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84">
                  </path>
                </svg>
              </a>
            </div>
            <div class="text-sm mt-6 lg:mt-12 xl:mt-20">
              ©2021 Company. All rights reserved.
            </div>
          </div>
          <div class="grid grid-cols-2 gap-8 lg:gap-10 lg:gap-x-8">
            <div>
              <h5 class="text-xl font-semibold text-gray-200">Product</h5>
              <nav class="mt-4">
                <ul class="space-y-2">
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Landingpages</a>
                  </li>
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Features</a>
                  </li>
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Documentation</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div>
              <h5 class="text-xl font-semibold text-gray-200">Industries</h5>
              <nav class="mt-4">
                <ul class="space-y-2">
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Employment</a>
                  </li>
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Childcare</a>
                  </li>
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Education</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div>
              <h5 class="text-xl font-semibold text-gray-200">About us</h5>
              <nav class="mt-4">
                <ul class="space-y-2">
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Company</a>
                  </li>
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Download brochure</a>
                  </li>
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Media Kit</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div>
              <h5 class="text-xl font-semibold text-gray-200">Legal</h5>
              <nav class="mt-4">
                <ul class="space-y-2">
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Terms and conditions</a>
                  </li>
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Security</a>
                  </li>
                  <li>
                    <a href="#" class="font-normal text-base hover:text-gray-400">Privacy and Cookie Statement</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </footer>
      <!--/ footer -->

    </div>


  </div>

